.background-l{
  width: 390px;
  height: 1200px;
  background: 
    radial-gradient(circle at 100% 0%, rgba(218, 243, 251, 0.74) 0%, rgba(255, 255, 255, 0) 51%), 
    radial-gradient(circle at 0% 67%, rgba(211, 201, 255, 0.44) 0%, rgba(255, 255, 255, 0) 80%), 
    linear-gradient(156deg, rgb(253, 253, 253) 0%, rgb(234, 241, 253) 100%)
}