# 这是仓库源
registry=https://registry.npmjs.org/

# 这是上次遇到的问题, 源不对, 所以这里设置一下
 # ERR_PNPM_REGISTRIES_MISMATCH  This modules directory was created using the following registries configuration: {"default":"https://registry.npmjs.org/"}. The current configuration is {"default":"http://registry.npm.baidu.com/"}. To recreate the modules directory using the new settings, run "pnpm install".