.marquee-wrapper {user-select: none;
    gap: 3rem;
    // 这里如果使用居中的话,也就是说要3个marquee组件,是的中间的完全显示两边的不显示 这时候第一个其实就相当于是个站位的
    // 不适用居中两个marqueue组件就够
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.marquee {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    min-width: 100%;
    animation: scroll 30s linear infinite;

> div {
    max-width: clamp(10rem, 1rem + 28vmin, 20rem);
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
}

&.marquee-reverse {
    animation-direction: reverse;
    animation-delay: calc(30s / -2);
}
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - 3rem));
    }
}